<div class="col mt-4 mb-4">
<h1>{{ content.field_section_heading.0 }}</h1>
<!--paragraph one field -->

<ul class="nav nav-tabs" id="myTab" role="tablist">
<!--paragraph First field-refrence -->
    {% for tab_item in paragraph.field_tab.getIterator() %}

        {% set active = (loop.first) ? 'active' : ''  %}
        {% set selected = (loop.first) ? 'true' : 'false'  %}
  
      <li class="nav-item">
        <a class="nav-link {{ active }}" id="{{loop.index}}-tab" data-toggle="tab" href="#nav-{{loop.index}}" role="tab" aria-controls="tab-{{loop.index}}" aria-selected="{{ true }}">
            <strong> {{ tab_item.entity.field_tab_name.value }} </strong>
        </a>
      </li>
    {% endfor %}  
  
</ul>


<div class="tab-content" id="myTabContent">
    {% for tab_data in paragraph.field_tab.getIterator()  %}
    
        {% set active_show = (loop.first) ? 'show active' : ''  %} 

      <div class="tab-pane fade {{active_show}}" id="nav-{{loop.index}}" role="tabpanel" aria-labelledby="{{loop.index}}-tab">
        {% for item in tab_data.entity.field_tab_body %}
        <!--paragraph second field-refrence -->
        <div class="content-area">
            <h3>{{ item.entity.field_heading.value }} </h3>
            <p>{{ item.entity.field_description.value|raw}} </p> 
        </div>    
            <!--paragraph third fields -->
        {% endfor %}
      </div>

    {% endfor %}   
</div>

</div>