<div class="col mt-4 mb-4">
<h1>{{ content.field_section_heading.0 }}</h1>
<div id="accordion">

{% for item in paragraph.field_accordion_section.getIterator() %}
        {% set active = (loop.first) ? 'active' : ''  %}
        {% set show = (loop.first) ? 'show' : ''  %}
        {% set collapsed = (loop.first) ? 'collapsed' : ''  %}
        
  <div class="card">
    <div class="card-header" id="heading-{{loop.index}}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{loop.index}}" aria-expanded="{{ selected }}" aria-controls="collapseOne">
          {{ item.entity.field_heading.value }}
        </button>
      </h5>
    </div>

    <div id="collapse-{{loop.index}}" class="collapse {{ show }}" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {{item.entity.field_description.value|raw}}
      </div>
    </div>
  </div>
{% endfor %} 

</div>

</div>